<div class="modal-overlay">
  <div class="modal-card">
    <div class="modal-header">
      <h2 class="title">Registrar Nuevo Tema</h2>
      <button class="btn-close" (click)="onClose()">
        <span class="material-symbols-outlined">close</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <label>Título del Tema</label>
        <input type="text" [(ngModel)]="nuevoTema.titulo" placeholder="Ej. Implementación de IA en procesos...">
      </div>

      <div class="form-group">
        <label>Nombre de la Comisión</label>
        <input type="text" [(ngModel)]="nuevoTema.nombreComision" placeholder="Ej. Comisión Revisora de Software">
      </div>

      <div class="form-group">
        <label>Descripción</label>
        <textarea [(ngModel)]="nuevoTema.descripcion" placeholder="Resumen detallado..." rows="4"></textarea>
      </div>

      <div class="form-group">
        <label>Tipo de titulación</label>
        <div class="select-wrapper">
          <select [(ngModel)]="nuevoTema.idOpcion" class="form-select">
            <option [value]="0" disabled selected>Selecciona el tipo de titulación</option>
            <option *ngFor="let opt of opcionesTitulacion" [value]="opt.id_opcion">
              {{ opt.nombre }}
            </option>
          </select>
          <span class="material-symbols-outlined arrow-icon">expand_more</span>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn-cancel" (click)="onClose()">Cancelar</button>
      <button class="btn-save" (click)="guardar()">
        Guardar Tema
      </button>
    </div>
  </div>
</div>
