<div class="table-container">

  <div class="table-actions">
    <div class="search-box">
      <span class="material-symbols-outlined search-icon">search</span>
      <input type="text" placeholder="Buscar estudiante...">
    </div>
    <button class="btn-filter">
      <span class="material-symbols-outlined">filter_list</span>
      Filtrar
    </button>
  </div>

  <div class="table-wrapper">
    <table>
      <thead>
      <tr>
        <th>CÉDULA</th>
        <th>ESTUDIANTE</th>
        <th>CORREO</th>
        <th class="center-text">CREDITO</th>
        <th class="center-text">FACULTAD</th>
        <th class="right-text">ACCIONES</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1723456789</td>
        <td>
          <div class="student-info">
            <span class="name">Juan Pérez</span>
            <span class="career">Ingeniería de Software</span>
          </div>
        </td>
        <td class="email">jperez@univ.edu.ec</td>
        <td class="center-text credits">120</td>
        <td class="center-text">Ciencias de la Ingeniería</td>
        <td class="right-text">
          <button class="btn-approve">Aprobar</button>
          <button class="btn-reject" (click)="abrirModal()">Rechazar</button>
        </td>
      </tr>
      <tr>
        <td>0912345678</td>
        <td>
          <div class="student-info">
            <span class="name">María García</span>
            <span class="career">Biotecnología</span>
          </div>
        </td>
        <td class="email">mgarcia@univ.edu.ec</td>
        <td class="center-text credits">115</td>
        <td class="center-text">Sistema y Computación</td>
        <td class="right-text">
          <button class="btn-approve">Aprobar</button>
          <button class="btn-reject" (click)="abrirModal()">Rechazar</button>
        </td>
      </tr>
      <tr>
        <td>1004567890</td>
        <td>
          <div class="student-info">
            <span class="name">Carlos Andrade</span>
            <span class="career">Economía</span>
          </div>
        </td>
        <td class="email">candrade@univ.edu.ec</td>
        <td class="center-text credits">122</td>
        <td class="center-text">Ciencias de la Ingeniería</td>
        <td class="right-text">
          <button class="btn-approve">Aprobar</button>
          <button class="btn-reject" (click)="abrirModal()">Rechazar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination-bar">
    <span class="page-info">Mostrando 1 a 4 de 12 solicitudes</span>
    <div class="pagination-controls">
      <button class="page-btn"><span class="material-symbols-outlined">chevron_left</span></button>
      <button class="page-btn active">1</button>
      <button class="page-btn">2</button>
      <button class="page-btn">3</button>
      <button class="page-btn"><span class="material-symbols-outlined">chevron_right</span></button>
    </div>
  </div>

  <app-modal-rechazo *ngIf="showModal" (close)="cerrarModal()"></app-modal-rechazo>

</div>
