<aside class="sidebar">
  <div class="logo-section">
    <div class="icon-box">
      <span class="material-symbols-outlined">school</span>
    </div>
    <h1>SGTT</h1>
  </div>

  <nav class="menu">

    <ng-container *ngIf="role === 'coordinador'">
      <a class="menu-item" routerLink="/inicio-coordinador" routerLinkActive="active">
        <span class="material-symbols-outlined">home</span>
        <span>Home</span>
      </a>
      <a class="menu-item" routerLink="/revision-requisitos" routerLinkActive="active">
        <span class="material-symbols-outlined">description</span>
        <span>Requests</span>
      </a>
      <a class="menu-item" routerLink="/banco-temas" routerLinkActive="active">
        <span class="material-symbols-outlined">library_books</span>
        <span>Topic Bank</span>
      </a>
      <a class="menu-item" routerLink="/asignaciones" routerLinkActive="active">
        <span class="material-symbols-outlined">assignment_ind</span>
        <span>Assignments</span>
      </a>
      <a class="menu-item" routerLink="/docentes" routerLinkActive="active">
        <span class="material-symbols-outlined">group</span>
        <span>Teachers</span>
      </a>
    </ng-container>

    <ng-container *ngIf="role === 'estudiante'">
      <a class="menu-item" routerLink="/inicio-estudiante" routerLinkActive="active">
        <span class="material-symbols-outlined">home</span>
        <span>My Home</span>
      </a>
      <a class="menu-item" routerLink="/mis-proyectos" routerLinkActive="active">
        <span class="material-symbols-outlined">folder_shared</span>
        <span>My Project</span>
      </a>
    </ng-container>

    <ng-container *ngIf="role === 'admin'">
      <a class="menu-item" routerLink="/admin/main-menu" routerLinkActive="active">
        <span class="material-symbols-outlined">dashboard</span>
        <span>Dashboard</span>
      </a>
      <a class="menu-item" routerLink="/admin/users" routerLinkActive="active">
        <span class="material-symbols-outlined">people</span>
        <span>Users</span>
      </a>
      <a class="menu-item" routerLink="/admin/configuration" routerLinkActive="active">
        <span class="material-symbols-outlined">settings</span>
        <span>Configuration</span>
      </a>
    </ng-container>

  </nav>

  <div class="logout">
    <button>
      <span class="material-symbols-outlined">logout</span>
      <span>Logout</span>
    </button>
  </div>
</aside>
